.my_fade {
    opacity: 0;
    height: 0;
}
.my_fade.in {
    opacity: 1;
    height: auto; 
}

.widget-body {
    height: inherit;
    overflow: hidden;
}

.nav-tabs-horizontal .nav-tabs > li a.my_active {
    border-style: none none solid;
    border-width: medium medium 2px;
    border-bottom-color: #0080c0;
    cursor: default;
}