body {
  background: rgb(204,204,204); 
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    position:absolute;
    margin: 0;
    box-shadow: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    background: url("bg.jpg") no-repeat fixed center;
  }
  
  .course_text_container {
      width:100%;
      text-align:center;
      padding-top:375px;
  }
  
  .course_text_large {
      font-family: pacifico;
      font-size:28px;
  }
  
  .course_text_small {
      font-family: pacifico;
      font-size:28px;
  }
  
  .name_text_container {
      width:100%;
      text-align:center;
      margin-top:150px;
      padding-left: 40px;
      padding-right: 40px;
  }
  
  .name_text_small {
      font-family: alexbrush;
      font-size:70px;
  }
  
  .name_text_large {
      font-family: alexbrush;
      font-size:70px;
  }
  
  .info_text_container {
      width:100%;
      text-align:center;
      padding-top:0px;
  }
  
  .info_text {
      font-family: amaranth;
      font-size:18px;
      padding-left: 60px;
      padding-right: 60px;
  }
  
  .certificate_id_text_container {
      width:100%;
      text-align:center;
      padding-top:160px;
  }
  
  .certificate_id_text {
      font-family: amaranth;
      font-size:18px;
  }
  
  .certificate_id_container {
      width:100%;
      text-align:center;
      padding-top:5px;
  }
  
  .certificate_id {
      font-family: amaranth;
      font-size:22px;
  }
  
  .date_awarded_text {
      width:45%;
      text-align:center;
      float:left;
      margin-top:80px;
      font-family: amaranth;
      font-size:16px;
  }
  
  .nazer_text {
      width:45%;
      text-align:center;
      float:right;
      font-family: amaranth;
      font-size:16px;
      margin-top:-20px;
  }
}